In [2]:
# import packages 
%run query_functions.py

In [7]:
insert_into_database() # issue, needed to be logged in everytime we wanna insert - to be solved

'Database Loaded Successfully'

In [8]:
query_data()

,job_title,description,company,salary_range
0,"Intern, AI researcher for AIOT",Job DescriptionThis position targets to develo...,Robert Bosch (SEA) Pte Ltd,"$1,200 - 1,400 monthly"
1,Business Development Assistant,Responsibilities:? Develop partnerships within...,Meso Labs Pte Ltd,"$800 - 5,000 monthly"
2,Software Engineer Intern,Assisting in the development of web-based appl...,BotDistrikt,"$700 - 1,000 monthly"
3,UI / UX Designer and QA Tester Intern,We are seeking a talentedUI/UX Designer and QA...,Werk SG,"$800 - 1,000 monthly"
4,"Adhoc / Flexible Programming Job (Python, Java...",Join some of Singapore’s best coders as they w...,Codingherosg Pte Ltd,"$200 - 5,000 (project /contract based)"
...,...,...,...,...
2407,Data Engineer - Marketplace Intelligence and D...,About The TeamThe data team aims to build high...,Shopee,NULL VALUES
2408,Full Stack Software Engineer Intern (6 months),"At Hypotenuse AI, interns aren’t here to sit o...",Hypotenuse AI,NULL VALUES
2409,"Machine Learning Specialist, IgniteTech (Remot...",Crossover is the world's #1 source of full-tim...,Crossover,NULL VALUES
2410,Software Engineer (Smart Operation) - Global P...,"Founded in 2012, ByteDance's mission is to ins...",ByteDance,NULL VALUES
2411,"Software Engineer, Security, Payments",Google will be prioritizing applicants who hav...,Google,NULL VALUES